<%- include ../includes/header.html %>

<div class="discover">
    <div class="content">
        <div class="discover-wrap">
            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <span class="iconfont color-green">&#xe699;</span>
                    </div>
                    <div class="weui_media_bd">
                        <p>朋友圈</p>
                    </div>
                    <div class="img-wrap">
                        <img class="weui_media_appmsg_thumb" src="/public/images/head5.jpg" alt="">
                    </div>
                </a>
            </div>
        </div>
        <div class="discover-wrap">
            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_panel weui_media_box weui_media_appmsg ">
                    <div class="weui_media_hd">
                        <span class="iconfont color-blue">&#xe668;</span>
                    </div>
                    <div class="weui_media_bd">
                        <p>扫一扫</p>
                    </div>
                </a>
            </div>
            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <span class="iconfont color-blue">&#xe677;</span>
                    </div>
                    <div class="weui_media_bd">
                        <p>摇一摇</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="discover-wrap">
            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <span class="iconfont color-blue">&#xe652;</span>
                    </div>
                    <div class="weui_media_bd">
                        <p>附近的人</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="discover-wrap">
            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_panel weui_media_box weui_media_appmsg ">
                    <div class="weui_media_hd">
                        <span class="iconfont color-red">&#xe69d;</span>
                    </div>
                    <div class="weui_media_bd">
                        <p>购物</p>
                    </div>
                </a>
            </div>
            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <span class="iconfont color-yellow">&#xe671;</span>
                    </div>
                    <div class="weui_media_bd">
                        <p>游戏</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<%- include ../includes/footer.html %>
