<%- include ../includes/header.html %>
<div class="myself">
    <div class="content">
        <div class="myself-wrap">
            <div class="weui_panel weui_panel_access">
                <div class="weui_panel_bd">
                    <a href="/user/userSettings " class="weui_media_box weui_media_appmsg">
                        <div class="weui_media_hd">
                            <img class="weui_media_appmsg_thumb" src="/public/images/head5.jpg" alt="">
                        </div>
                        <div class="weui_media_bd">
                            <h4 class="weui_media_title">我真棒</h4>
                            <p class="weui_media_desc">微信号:<span>1313151344131531</span></p>
                        </div>
                        <div class="scan">
                            <span class="iconfont">&#xe63c;</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="myself-wrap">
            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_panel weui_media_box weui_media_appmsg ">
                    <div class="weui_media_hd">
                        <span class="iconfont color-blue">&#xe679;</span>
                    </div>
                    <div class="weui_media_bd">
                        <p>相册</p>
                    </div>
                </a>
            </div>
            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <span class="iconfont color-green">&#xe67f;</span>
                    </div>
                    <div class="weui_media_bd">
                        <p>收藏</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="myself-wrap">
            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_panel weui_media_box weui_media_appmsg ">
                    <div class="weui_media_hd">
                        <span class="iconfont color-blue">&#xe669;</span>
                    </div>
                    <div class="weui_media_bd">
                        <p>钱包</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="myself-wrap">
            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_panel weui_media_box weui_media_appmsg ">
                    <div class="weui_media_hd">
                        <span class="iconfont color-lightyellow">&#xe69e;</span>
                    </div>
                    <div class="weui_media_bd">
                        <p>表情</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="myself-wrap">
            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_panel weui_media_box weui_media_appmsg ">
                    <div class="weui_media_hd">
                        <span class="iconfont color-blue">&#xe639;</span>
                    </div>
                    <div class="weui_media_bd">
                        <p>设置</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include ../includes/footer.html %>