<%- include ../includes/header.html %>
<div class="phonebook">
    <div class="content">
        <div class="phone-wrap">
            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_panel weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <span class="iconfont bgcolor-yellow">&#59020;</span>
                    </div>
                    <div class="weui_media_bd">
                        <p>新的朋友</p>
                    </div>
                </a>
            </div>
            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_panel weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <span class="iconfont bgcolor-green">&#xe686;</span>
                    </div>
                    <div class="weui_media_bd">
                        <p>群聊</p>
                    </div>
                </a>
            </div>
            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_panel weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <span class="iconfont bgcolor-blue">&#xe693;</span>
                    </div>
                    <div class="weui_media_bd">
                        <p>标签</p>
                    </div>
                </a>
            </div>
            <div class="msg-item">
                <a href="javascript:void(0);" class=" weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <span class="iconfont bgcolor-blue">&#xe672;</span>
                    </div>
                    <div class="weui_media_bd">
                        <p>公众号</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="phone-wrap">

            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <div class="img-wrap">
                            <img class="weui_media_appmsg_thumb" src="/public/images/head6.jpg" alt="">
                        </div>

                    </div>
                    <div class="weui_media_bd">
                        <p>小美女</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="phone-wrap">

            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_panel weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <div class="img-wrap">
                            <img class="weui_media_appmsg_thumb" src="/public/images/head1.jpg" alt="">
                        </div>

                    </div>
                    <div class="weui_media_bd">
                        <p>小黄人</p>
                    </div>
                </a>
            </div>
            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <div class="img-wrap">
                            <img class="weui_media_appmsg_thumb" src="/public/images/head2.jpg" alt="">
                        </div>
                    </div>
                    <div class="weui_media_bd">
                        <p>大白</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="phone-wrap">

            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <div class="img-wrap">
                            <img class="weui_media_appmsg_thumb" src="/public/images/head3.jpg" alt="">
                        </div>
                    </div>
                    <div class="weui_media_bd">
                        <p>头头</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="phone-wrap">

            <div class="msg-item">
                <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd">
                        <div class="img-wrap">
                            <img class="weui_media_appmsg_thumb" src="/public/images/head5.jpg" alt="">
                        </div>
                    </div>
                    <div class="weui_media_bd">
                        <p>海贼</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include ../includes/footer.html %>