<%- include ../includes/header.html %>
<div class="weixin">
    <div class="content">
        <div class="msg-item active border-bottom">
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="/public/images/smart.jpg" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">高富帅</h4>
                    <p class="weui_media_desc">美女,约么</p>
                </div>
                <span class="msg-time">周三</span>
            </a>
        </div>
        <div class="msg-item border-bottom">
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="/public/images/file.png" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">文件传输助手</h4>
                    <p class="weui_media_desc">[图片]</p>
                </div>
            </a>
        </div>
        <div class="msg-item border-bottom">
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="/public/images/weixin.png" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">微信团队</h4>
                    <p class="weui_media_desc">登录操作通知</p>
                </div>
            </a>
        </div>
        <div class="msg-item border-bottom">
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="/public/images/head1.jpg" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">小黄人</h4>
                    <p class="weui_media_desc">派大星，我们一起去抓水母把</p>
                </div>
            </a>
        </div>
        <div class="msg-item border-bottom">
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="/public/images/head2.jpg" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">大白</h4>
                    <p class="weui_media_desc">小白兔，白又白，两只耳朵提起来，割完动脉割静脉，一动不动真可爱</p>
                </div>
            </a>
        </div>
        <div class="msg-item border-bottom">
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="/public/images/head3.jpg" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">白富美</h4>
                    <p class="weui_media_desc">呵呵，去洗澡</p>
                </div>
            </a>
        </div>
        <div class="msg-item border-bottom">
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="/public/images/head4.jpg" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">动次打次</h4>
                    <p class="weui_media_desc">苍茫的天涯是我的爱</p>
                </div>
            </a>
        </div>
        <div class="msg-item border-bottom">
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="/public/images/head5.jpg" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">路飞</h4>
                    <p class="weui_media_desc">我要成为海贼王的男人</p>
                </div>
            </a>
        </div>
        <div class="msg-item border-bottom">
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="/public/images/head6.jpg" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title">白富美</h4>
                    <p class="weui_media_desc">呵呵，去洗澡</p>
                </div>
            </a>
        </div>
    </div>
</div>
<%- include ../includes/footer.html %>